.groupList {
    border-bottom: solid lightgray;
    padding-bottom: 1.25rem;
    margin-top: 1.25rem;
    display: flex;
    min-width: 46%;
    padding-left: 1rem;
    padding-right: 1rem;
    /* align-content: center; */
}

.groupList:hover {
    cursor: pointer;


}

.meetupBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    width: 100%;
    word-break: break-all;

}

/* .centerContainer {} */

.groupListName {
    margin-bottom: 0px;

}

.groupListLocation {
    margin-top: 0px;
}

.groupListDesc {
    text-overflow: ellipsis;
}

.groupDesc {
    color: gray;
    font-size: medium;
}

.singleGroupContent {
    display: flex;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

}

.header p {
    align-self: start;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

}

.detailsContainer {
    background-color: rgba(238, 237, 237, 0.998);
    display: flex;

    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.groupInfo {
    font-size: medium;
}

.eventList {
    padding: 20px;
}

.groupEventList .eventList {
    background-color: white;
    border-radius: 25px;
}

.groupForm {
    border-bottom: 2px gray solid;
    padding-bottom: 1rem;
    font-size: large;
}

form select {
    color: gray
}


.createGroupForm {
    width: 85%;

}

.center {
    display: flex;
    align-items: center;
}

.groupForm h3 {
    margin-bottom: 0px;
}

.groupForm input {
    height: 1.5rem;
    width: 25rem;
}

.groupForm .detailForm {
    word-wrap: break-word;
    resize: none;
    width: 25rem;
    height: 15rem
}

.createGroupForm button {
    width: 10rem;
    height: 3rem;
    font-size: large;
    background-color: red;
    color: white;
    border: 2.5px solid black;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px black;

}

.groupListImage {
    max-block-size: 90%;
    display: flex;
}

.margin-top {
    margin-top: 1rem;
}

.actions button {
    margin-right: 1rem;
    height: 1.5rem;
    background-color: gray;
    color: white;
    box-shadow: 2px 2px 2px black;
}

.deleteBox {
    display: flex;
    flex-direction: column;


}

.deleteBox div p {
    margin: 0;
    margin-bottom: 1em;
}

.deleteBox button {
    margin: 0.5em;
    height: 3rem;
    font-size: large;
    box-shadow: 3px 3px 3px black;
    color: white;
    width: 85%;
}

.deleteConfirm {
    background-color: red;
}

.deleteClose {
    background-color: darkgray;
}


.deleteBox h2 {
    text-align: center;
}

.deleteBox div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal-content{
    width: 100%;
}
