.eventList {
    min-width: 46%;
    border-bottom: solid lightgray;
    padding-bottom: 1.25rem;
    margin-top: 1.25rem;
    display: flex;


    /* align-content: center; */
}

.eventList:hover {
    cursor: pointer;
}

.meetupBody {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: auto;
    margin-left: 1em;

}

.centerContainer {
    min-width: 780px;
    max-width: 33%;
}


.singleGroupContent {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
}



.header p {
    align-self: start;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

}

.detailsContainer {
    background-color: rgba(238, 237, 237, 0.998);
    width: 100%;
    display: flex;
    justify-content: center;
}

.details {
    display: flex;
    flex-direction: column;
    max-width: 65%;
}

.groupInfo {
    font-size: medium;
}

.eventListSchedule {
    align-self: start;
    margin: 1px;
    color: teal;
}

.eventListName {
    align-self: start;
    margin: 2px
}

.eventListLocation {
    align-self: start;
    margin: 2px;
    color: silver;
}

.singleEventContent {
    background-color: lightgray;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.eventContainer {
    display: flex;
    max-width: 65%;
    margin-left: 17%;
    margin-top: 3rem;
}

.eventInformation {
    display: flex;
    min-width: 60%;
    justify-content: space-evenly;
}

.center {
    display: flex;
    flex-direction: column;

}

.eventHeader {
    margin-left: 5%;
}

.scheduleAndGroup {

    display: flex;
    justify-content: start;

    flex-direction: column;
    max-width: 50%;
    min-width: 35%;
}

.groupImage img {
    max-width: auto;
    max-height: 80%;


}

.groupTitle {
    text-wrap: wrap;
    word-break: break-all;
}

.groupImage {
    display: flex;
    align-items: center;
}

.eventGroupInfo {
    display: flex;
    margin: 1rem;
    background-color: white;
    border-radius: 25px;
    max-height: 35%;
    padding-left: 2em;
    min-height: 35%;

}

.eventGroupInfoDetails {
    display: flex;
    margin: 1rem;
    background-color: white;
    border-radius: 25px;
    max-height: 35%;
    padding-left: 2em;
    min-height: 35%;
    flex-direction: column;
}



.groupInformation {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.groupInformation * {
    margin: 0px;
    margin-bottom: 5px;

}

h5 {
    color: lightgray;
}

.wrap {
    word-wrap: break-word;

}


.schedule {
    display: flex;
}

.eventImage {
    max-block-size: 55%;
}
