.eventList {
    border-bottom: solid lightgray;
    padding-bottom: 1.25rem;
    margin-top: 1.25rem;
    display: flex;

    flex-direction: column;
    /* align-content: center; */
}

.eventimageinfo {
    display: flex;

}

.eventDescription {
    padding-left: 20px;
    line-break: auto;
    word-break: break-all;
}

.eventList:hover {
    cursor: pointer;
}

.meetupBody {
    display: flex;
    flex-direction: column;
    max-width: auto;
    margin-left: 1em;

}



.centerContainer {
    min-width: 780px;
    max-width: 33%;
}


.singleGroupContent {
    display: flex;
    justify-content: center;
    min-width: 100%;
}



.header p {
    align-self: start;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

}

.detailsContainer {
    background-color: rgba(238, 237, 237, 0.998);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.groupInfo {
    font-size: medium;
}

.eventListSchedule {
    align-self: start;
    margin: 1px;
    color: teal;
}

.eventListName {
    align-self: start;
    margin: 2px
}

.eventListLocation {
    align-self: start;
    margin: 2px;
    color: silver;
}

.singleEventContent {
    display: flex;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    flex-direction: column;
    width: 80%;
    /* justify-content: center; */
}

.eventContainer {
    display: flex;
    max-width: auto;
    margin-left: 17%;
    margin-top: 3rem;
}

.eventsContainer {
    width: 80%
}

.eventInformation {
    display: flex;
    height: 40rem;
    justify-content: space-around;
}

.center {
    display: flex;
    flex-direction: column;

}

.eventHeader {
    width: 80vw
}

.scheduleAndGroup {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}


.groupTitle {
    text-wrap: wrap;
    word-break: break-all;
}

.groupImage {
    display: flex;
    align-items: center;
    justify-content: center;

}

.eventGroupInfo {
    display: flex;
    margin: 1rem;
    background-color: white;
    border-radius: 25px;
    max-height: 35%;
    padding-left: 2em;
    min-height: 35%;

}

.eventGroupInfo:hover {
    cursor: pointer;
}

.eventGroupInfoDetails {
    display: flex;
    margin: 1rem;
    background-color: white;
    border-radius: 25px;
    padding-left: 2em;
    flex-direction: column;
    padding-bottom: 30px;
}



.groupInformation {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.groupInformation * {
    margin: 0px;
    margin-bottom: 5px;

}

h5 {
    color: lightgray;
}

.wrap {
    word-wrap: break-word;

}


.schedule {
    display: flex;
    margin-top: 2rem;
}


.full {
    width: 100%;
    padding: 3rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.organizerHeader {
    word-break: break-all;
}

.eventHost {
    color: gray
}

.groupPreviewImg {
    max-width: 15rem;
    max-height: 80%;
}

.scheduleDetails {
    padding-left: 1rem;
    color: teal;
}

.schedule h3 {
    display: flex;
    align-items: center;
    margin-right: .5rem;
    color: gray;
}

.price h3 {
    color: gray;
}


.location h3 {
    color: gray;
}
