/* TODO: Add sitewide styles */

.errors {
    color: red;
    font-size: small;
}

.articleLists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptions {
    text-wrap: wrap;
    display: flex;
    font-size: small;

}

.landing-header {
    display: flex;
    width: 60em;
    margin-top: 2rem;
}

.disabled {
    color: gray;
    pointer-events: none;
}

.hidden {
    display: none;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: larger;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howTo {
    width: 50%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;

}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75em;
}

.redirects {
    display: flex;
    width: 80%;
}

.redirects div {
    width: 33%;
    text-align: center;

}

.links div .descriptions {
    width: 85%;
}

.allEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join button {
    background-color: teal;
    color: white;
    height: 3em;
    width: 8em;
    box-shadow: 3px 3px 2px black;
}

.join button:hover {
    cursor: pointer;
}


.signupBox form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

#signuphead {
    display: flex;
    justify-content: center;
    margin-top: .5em;
}

.signupsections {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.signupsections input {
    margin-bottom: .5em;
}

#signupsubmitbutton {
    background-color: red;
    color: white;
    height: 3em;
    box-shadow: 3px 3px 2px black;
}

.howWork {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.howTo .descriptions {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    width: 25em;

}

.textboxes {
    width: 35rem;
    font-size: xx-large;
}

.icons{
    max-width: 20rem;
}
