/* FONTS */
.hidden {
    display: none
}

.active {
    color: teal;
    text-decoration: underline;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

NavLink {
    text-decoration: none;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    min-height: 64px;
    align-items: center;
    border-bottom: solid lightgray;
    min-width: 350px;
}

.userNav {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin-right: 30px;
}

.userNav button {
    background-color: none;
    background: none;
    border: none;
}

.userNav button:hover {
    cursor: pointer;
}

.homeNav {
    color: #F64060;
    text-decoration: none;
    margin-left: 5px;
}

.eventGroupNav {
    display: flex;
    min-width: 769px;
    padding-top: 4rem;
    border-bottom: solid lightgray;
}

.eventMeetupTitle {
    color: silver;
    padding-top: 10px;

}

.eventGroupHeading {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    min-width: 190px;
}
