.hidden {
    display: none
}

.active {
    color: teal;
    text-decoration: underline;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

NavLink {
    text-decoration: none;
}
